@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Poppins";
}

.pomodoro-app {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  margin: 0 auto;
}

.timer {
  height: 100%;
  width: 40%;
  margin: 150px 0px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.task {
  height: 100%;
  width: 50%;
  margin: 90px 0px;
  padding: 20px;
  margin-left: 20px;
}

.action-table {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.download-logs {
  background-color: #e0f19b;
  width: 20%;
  height: 40px;
  border: 0;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  left: 4%;
}
.download-icon {
  max-width: 14px;
  color: rgb(82, 81, 81);
}

.download-logs span {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 500;
  color: rgb(71, 70, 70);
}

.delete-session {
  width: 20%;
  height: 40px;
  border: 0;
  margin-left: 5px;
  padding-right: 15px;
  position: relative;
  left: 4%;
  background: transparent;
}

.delete-icon {
  max-width: 14px;
  color: rgb(82, 81, 81);
}

.delete-session span {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 300;
}

table {
  background-color: white;
  height: 200px;
  border-radius: 7px 7px 7px 7px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  font-size: 14px;
}

table thead th {
  font-size: 16px;
  font-weight: 600;
  color: rgb(73, 72, 72);
}

.height-value {
  height: 70px;
}

.bold-td {
  font-weight: 600;
}

.tr-height {
  height: 400px;
}

.outer-circle {
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.inner-circle {
  background-image: linear-gradient(#f37f51, #d4564d);
  height: 325px;
  width: 325px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -162px 0px 0px -162px;
  box-shadow: rgba(116, 114, 114, 0.8) 0px 5px 24px;
}

.content-circle {
  background-image: linear-gradient(#f37f51, #d4564d);
  height: 275px;
  width: 275px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -138px 0px 0px -138px;
  outline: 4px solid rgba(255, 255, 255, 0.3);
}

.content-circle span {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 90px;
  left: 50px;
  letter-spacing: 2.5px;
}

.action-timer {
  padding: 10px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.subtraction,
.addition {
  margin-right: 30px;
}

.subtraction,
.addition,
.start {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.subtraction {
  background-color: #f3f3f3;
  width: 90px;
  height: 90px;
  color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 4em;
  border: 0;
}

.addition {
  background-color: #f3f3f3;
  width: 90px;
  height: 90px;
  color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 4em;
  border: 0;
}

.start {
  background-color: #e0f19b;
  padding-left: 120px;
  padding-right: 120px;
  height: 90px;
  color: black;
  text-align: center;
  font-size: 2em;
  border-radius: 50px 50px 50px 50px;
  border: 0;
}

.minus {
  max-width: 30px;
  color: rgb(114, 113, 113);
}

.plus {
  max-width: 30px;
  color: rgb(114, 113, 113);
}

.play {
  color: rgb(85, 84, 84);
}

@media only screen and (max-width: 640px) and (min-width: 320px) {
  .task {
    display: none;
  }
  .timer {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .action-timer {
    flex-direction: column;
  }

  .addition,
  .subtraction {
    align-self: center;
    margin-left: -75px;
  }

  .addition {
    position: relative;
    top: -90px;
    left: 120px;
  }

  .start {
    margin-top: -50px;
  }
}
